<div id="bg">
    <div class="row justify-content-center" id="icons">
        <div class="col-md-6"><img src="./Duck.png"></div>
        <!-- <div class="col-md-6">Hi, I'm a duck</div> -->
        <div class="col-md-6">
            <div id="chat_box">
                <p>Hi! I am your AI Friend. Im here to help you use AI safely</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" id="buttons">
        <div class="col-md-6"><a class="btn_choose" routerLink="/game">Play a game</a></div>
        <div class="col-md-6"><a class="btn_choose" routerLink="/chat">Chat with me</a></div>
    </div>
</div>