<div id="bg">
    <div class="row justify-content-center" id="icons">
        <div class="col-md-6"><img
                src="https://as2.ftcdn.net/v2/jpg/01/88/27/55/1000_F_188275566_ogTIuYum13zOvTMTIHycUIjagUmj5TNj.jpg">
        </div>
        <!-- <div class="col-md-6">Hi, I'm a duck</div> -->
        <div class="col-md-6">
            <div id="output">
                <p *ngIf="!to_query">{{output}}</p>
                <input type="input" *ngIf="to_query" #query>
            </div>
        </div>
    </div>
    <div>
        <button *ngIf="to_query" (click)="ask_anything(query.value)" id="btn_ask"></button>
    </div>

    <button (click)="next()" id="btn_next"></button>
</div>